/* verify email page*/
.verify-message{
    width: 50%;
    height: 50%;
    position: relative;
    left: 25%;
    top: 150px;
}

/* Nav-bar */
.logo {
    transform: scale(1.5);
}

/* Header */
.header-img {
    margin: auto;
    margin-top: 2%;
}

.header-img img {
    transform: scale(1.5);
}

/* Dashboard */
.sdg-icon img {
    width: 12.5%;
    height: 12.5%;
    margin: 15px 15px;
    transition: ease-in-out 0.2s;
}

.sdg-icon img:hover {
    transform: scale(1.25);

    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.sdg-icon {
    justify-content: center;
    padding-top: 15px;
}

.section.section-sdg-goals {
    background-color: #007bff
}

/* Admin */
.padding-card {
    padding: 5%;
}

.padding-left-50 {
    padding-left: 50%;
}

.fixed-height {
    max-height: 15em;
    min-height: 15em;
    overflow-x: hidden;
}

/* Contact */
.contact-picture {
    margin: 10px 50px 50px 180px;
    width: 360px;
    height: 360px;
}

.contact-columns {
    margin: 50px !important;
}

.contact-section {
    padding: 24px !important;
}

.contact-card {
    margin-left: 250px !important;
}

.contact-content {
    margin: 50px !important;
}

/*SDGs*/
.columns-container {
    margin: 50px 250px 50px 250px !important;
}

.is-horizontal {
    display: flex;
}

.sdg-card-image {
    width: 30% !important;
    height: 30% !important;
}

.project-card-image {
    width: 30%;
    height: 30%; !important;
}

.sdg-content {
    margin-top: 15px;
}

/*Blog*/
.blog-card {
    max-height: 25em !important;
    min-height: 25em !important;
    overflow-x: auto;
}

.filter-option{
    display:flex;
    padding-left: 8%;
}

.single-filter{
    margin: 1%;
}
